# gradle

.gradle/
build/
out/
classes/

# local development configuration

.dev.env

# python tooling

__pycache__/
*.py[cod]

# JVM crash diagnostics

hs_err_pid*.log
replay_pid*.log
*.hprof

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# minecraft development

run/
/src/generated/resources/.cache/
